<h1>Is this Dog cute or not? Vote below! </h1>

<% @dogs.limit(1).order("Random()").each do |d| %>
<div class="card centerdiv">
  <img class="card-img-top" src="<%=d.picture%>" alt="dog picture">
  <div class="card-body">
    <div>
      <% if current_user and current_user.liked?(d) %>
        <%= link_to("You Voted Cute", like_dog_path(d.id), method: :put, class: "btn btn-outline-success") %> 
        <% elsif current_user and current_user.disliked?(d) %>
        <%= link_to("You Voted Not", like_dog_path(d.id), method: :put, class: "btn btn-outline-warning") %> 
      <% else%>
      <%= link_to("Cute", like_dog_path(d.id), method: :put, class: "btn btn-success cute") %> 
        <%= link_to("Not", dislike_dog_path(d.id), method: :put, class: "btn btn-warning not") %>
     <% end %>
    </div>
  </div>
</div>
<% end %>
