<h1>Vote on this random pup! </h1>

<% @dogs.limit(1).order("Random()").each do |d| %>
<div class="card" style="width: 40rem;">
  <img class="card-img-top" src="<%=d.picture%>" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title"><%= d.name %></h5>
    <p class="card-text">Vote for me!</p>
    <%= link_to("Cute", like_dog_path(d.id), method: :put, class: "btn btn-success") %> 
    <%= link_to("Not", dislike_dog_path(d.id), method: :put, class: "btn btn-warning") %>
    <%= link_to("Voting Stats", "/dogs/#{d.id}", class: "btn btn-primary") %>  
  </div>
</div>
<% end %>
<% if logged_in?%>
<%= link_to("New Dog", "/dogs/new", class: "btn btn-primary") %>
<% end %>
</ul>
