<div class="card centerdiv">
        <img class="card-img-top" src="<%=@dog.picture%>" alt="dog picture">
        <div class="card-body">
          <h2><%= @dog.name %></h2>
          <%= link_to like_dog_path(@dog.id), method: :put do %>
          <h3>Cute Votes:
          <%= @dog.get_upvotes.size %></h3> 
          <% end %>
          <%= link_to dislike_dog_path(@dog), method: :put do %>
          <h3>Not Votes: 
          <%= @dog.get_downvotes.size %></h3> 
          <% end %>
          <p>Uploaded by: <%= @user.name %></p>
          <p>% of Cute Votes</p>
          <div class="progress">
              <div class="progress-bar" role="progressbar" style="width:<%= @score %>%;" aria-valuenow="<%=@score%>" aria-valuemin="0" aria-valuemax="100"><%= @score %>% </div>
            </div>
        </div>
    </div>
    <%= link_to("Back", "/", class: "btn btn-secondary") %>