<h1>Welcome <%= @user.name %>!</h1>

<h2>Your pups: </h2>
    <% if @user = current_user %>
        <%  @dogs.each do |d| %>
    <div class="card pup-card" style="width: 260px;">
      <img class="card-img-top" src="<%=d.picture%>" alt="Card image cap">
      <div class="card-block">
        <h5 class="card-title"><%= d.name %></h5>
        <%= link_to("Stats", "/dogs/#{d.id}", class: "btn btn-primary") %> 
        <%= link_to("Edit", "/dogs/#{d.id}/edit", class: "btn btn-primary") %> 
        <%= link_to("Delete", "/dogs/#{d.id}", {method: 'delete', class: "btn btn-primary", data: {confirm: "Are you sure?"}}) %>
      </div>
  </div>
     <% end %>
    <% end %>

<h2>Dogs you thought were cute: </h2>

<% @user.find_up_voted_items.each do |d| %>
<div class="card pup-card text-center" style="width: 260px;">
  <img class="card-img-top" src="<%=d.picture%>" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title"><%= d.name %></h5>
    <p class="card-text">Thanks for your vote!</p>
  </div>
</div>
<% end %>