<h1>Welcome <%= @user.name %>!</h1>

<%= link_to("Submit a Dog", "/dogs/new", class: "btn btn-primary") %>

Your pups: 
<ul>
    <% if @user = current_user %>
        <%  @dogs.each do |d| %>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="<%=d.picture%>" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title"><%= d.name %></h5>
        <p class="card-text">vote for meeow.</p>
        <%= link_to(d.name, "/dogs/#{d.id}", class: "btn btn-primary") %> 
      </div>
    </div>
    <% end %>
    <% end %>
    <%= link_to("new dog", "/dogs/new", class: "btn btn-primary") %>
    </ul>

Dogs you thought were cute: 